@import './variables.css';

* {
  box-sizing: border-box;
  max-height: 99999999px;
}

body,
html {
  background: none;
  color: black;
  scroll-behavior: smooth;
  min-height: 100%;
  font-family: var(--font-family);
  /* overflow-x: hidden; */
  text-size-adjust: none;
}

img,
picture {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(20 20 20 / 20%);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(20 20 20 / 20%);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(20 20 20 / 40%);
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(20 20 20 / 90%);
}
