.markdown {
  h2 {
    /* font-family: var(--headline-family); */
    font-weight: 600;
    font-size: var(--h2-text);
  }

  h3 {
    /* font-family: var(--headline-family); */
    font-weight: 600;
    font-size: var(--h3-text);
  }

  p {
    font-size: var(--body-text);
    line-height: var(--font-lineheight-2);
    /* margin-bottom: var(--small-gap); */
  }

  :not(pre) > code {
    font-size: var(--code-text);
    font-family: var(--code-family);
    background-color: #1e1e1e;
    color: white;
    padding: 0 var(--small-gap);
    border-radius: calc(var(--radius) / 2);
    display: inline-block;
    /* color: var(--color-3); */
  }

  a {
    text-decoration: underline dotted;
    color: var(--color-1);
    &:is(:hover, :focus) {
      color: var(--color-3);
    }
  }

  .astro-code {
    margin-block: var(--small-gap);
    font-size: var(--code-text);
    font-family: var(--code-family);
    padding: var(--gap);
    border-radius: var(--radius);
    line-height: var(--font-lineheight-2);
    /* custom scrollbar */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgb(255 255 255 / 20%);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgb(255 255 255 / 20%);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(255 255 255 / 40%);
    }

    &::-webkit-scrollbar-thumb:active {
      background: rgb(255 255 255 / 90%);
    }
  }

  ul {
    font-size: var(--body-text);
    line-height: var(--font-lineheight-2);
    list-style-type: disc;
    list-style-position: inside;
    & > li > ul {
      list-style-type: circle;
      margin-inline-start: 3ch;
      & > li > ul {
        list-style-type: square;
      }
    }
  }
  em {
    font-style: italic;
  }
}
