:root {
  font-size: 16px;
  --max-inline-size: 67.5rem;
  --small-gap: calc(var(--gap) * 0.5);
  --gap: 1rem;
  --large-gap: calc(var(--gap) * 2);
  --larger-gap: calc(var(--gap) * 4);
  --radius: 10px;
  --font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --color-1: #093f68;
  --color-2: #68e1fd;
  --color-3: #ffbc0e;
  --color-4: #70cc40;
  --bg-layer: -1;
}
body,
html {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  -webkit-text-size-adjust: none;
}
.container {
  position: relative;
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  padding: var(--large-gap);
}
.grid {
  display: grid;
  column-gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  display: block;
}
