:root {
  --small-gap: calc(var(--gap) * 0.5);
  --gap: 1rem;
  --large-gap: calc(var(--gap) * 2);
  --larger-gap: calc(var(--gap) * 4);
  --radius: 0.625rem;
  --font-family: "Archivo Narrow", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --headline-family: "JetBrains Mono", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --color-1: #093f68;
  --color-2: #68e1fd;
  --color-3: #ffbc0e;
  --color-4: #70cc40;
  --bg-layer: -1;
  --body-text: var(--font-size-1);

  /* small */
  --h1-text: var(--font-size-6);
  --h2-text: var(--font-size-5);
  --h3-text: var(--font-size-4);

  /* medium */
  @media (--md-n-above) {
    --h1-text: var(--font-size-7);
    --h2-text: var(--font-size-6);
    --h3-text: var(--font-size-5);
  }

  /* large */
  @media (--lg-n-above) {
    --h1-text: var(--font-size-8);
    --h2-text: var(--font-size-7);
    --h3-text: var(--font-size-6);
  }
}

body,
html {
  font-size: 16px;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  text-size-adjust: none;
  overflow-x: hidden;
}

.container {
  position: relative;
  padding: var(--large-gap);
  margin-inline: auto;
  max-inline-size: var(--size-sm);

  @media (--md-n-above) {
    max-inline-size: var(--size-md);
  }

  @media (--lg-n-above) {
    max-inline-size: var(--size-lg);
  }

  @media (--xl-n-above) {
    max-inline-size: var(--size-xl);
  }

  @media (--xxl-n-above) {
    max-inline-size: var(--size-xxl);
  }
}

.grid {
  display: grid;
  column-gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}

img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  display: block;
}

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(0 0 0 / 10%);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(0 0 0 / 20%);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 40%);
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(0 0 0 / 90%);
}

h3 {
  font-family: var(--headline-family);
  font-size: var(--h3-text);

  /* background-color: black; */
  /* padding: var(--gap); */
  /* color: white; */
}
