---
import Layout from '@/layouts/Layout.astro'
import img404 from '@/assets/images/404.svg'
import Container from '@/components/Container.astro'
---

<Layout>
	<Container>
		<div class="flex flex-col items-center gap-5">
			<a
				class="text-xl font-medium text-center hover:underline border px-5 py-3 rounded-10"
				href="/">Return to Home Page</a
			>
			<img src={img404.src} alt="page not found" width="2560" height="1440" />
		</div>
	</Container>
</Layout>
