---
import Container from "@/components/Container.astro";
import Projects from "@/sections/Projects.astro";
import Hero from "@/sections/Hero.astro";
import Testimonials from "@/sections/Testimonials.astro";
import About from "@/sections/About.astro";
import Layout from "../layouts/Layout.astro";
import Services from "@/sections/Services.astro";
import Contact from "@/sections/Contact.astro";
---

<Layout>
  <Fragment slot="head">
    <meta
      property="og:image"
      content={Astro.site + "assets/images/profile.webp"}
    />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
  </Fragment>
  <Container class="bg-transparent p-5 md:p-10">
    <main class="flex flex-col gap-5">
      <Hero />
      <Testimonials />
      <Services />
      <Projects />
      <About />
      <Contact />
    </main>
  </Container>
</Layout>
