---
import Container from '@/components/Container.astro'
import Projects from '@/sections/ProjectsSvelte.astro'
import Hero from '@/sections/HeroSvelte.astro'
import Testimonials from '@/sections/Testimonials.astro'
import About from '@/sections/About.astro'
import Layout from '../layouts/Layout.astro'
import Services from '@/sections/Services.astro'
import Contact from '@/sections/Contact.astro'
import { Schema } from 'astro-seo-schema'
import { Seo } from 'astro-seo-meta'
import Posts from '@/sections/Posts.astro'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<Layout>
	<Fragment slot="head">
		<Schema
			item={{
				'@context': 'https://schema.org',
				'@type': 'Person',
				name: 'Raqueebuddin Aziz',
				knowsAbout: [
					'Computer Science',
					'Web Programming',
					'Web Development',
					'Web Design',
					'Freelancing'
				],
				image: Astro.site + 'assets/images/profile.webp',
				url: canonicalURL.toString(),
				email: 'raqueebuddin.aziz.314@gmail.com',
				gender: 'https://schema.org/Male',
				knowsLanguage: ['English', 'Hindi']
			}}
		/>
		<Seo
			title="Svelte(Kit) Developer - Raqueebuddin Aziz"
			description="The fastest and most professional svelte(kit) developer on the planet"
			keywords={['svelte web developer', 'sveltekit developer', 'svelte dev']}
			icon="/favicon.svg"
			themeColor="#ea580c"
			colorScheme="light"
			facebook={{
				image: Astro.site + '/assets/images/profile.webp',
				url: canonicalURL.toString(),
				type: 'website'
			}}
			twitter={{
				image: Astro.site + '/assets/images/profile.webp',
				site: '@RaqueebuddinA',
				card: 'summary'
			}}
		/>
		<!-- <meta property="og:image:width" content="1024" /> -->
		<!-- <meta property="og:image:height" content="1024" /> -->
	</Fragment>
	<Container class="bg-transparent p-5 md:p-10">
		<main class="flex flex-col gap-20">
			<Hero />
			<Testimonials />
			<Services />
			<Projects />
			<Posts tags={['svelte', 'sveltekit']} />
			<About />
			<Contact />
		</main>
	</Container>
</Layout>
