<article class="rounded-10 grid gap-5 bg-orange-600 p-10 text-gray-100 shadow-2xl xl:gap-10">
	<h2
		class="align-center text-4xl font-extrabold leading-snug md:text-6xl md:leading-tight text-center"
	>
		Ready to save money and make your business automatic?
	</h2>
	<div class="grid gap-5 md:grid-cols-2">
		<a
			href="/contact"
			class="rounded-10 whitespace-nowrap bg-gray-100 p-4 md:text-lg text-center font-bold text-orange-600 transition-colors focus:bg-white focus:text-orange-600 hover:bg-white hover:text-orange-600 uppercase"
			data-umami-event="goto-contact"
			data-umami-event-location="cta-banner"
		>
			Get my free consultation
		</a>
		<button
			type="button"
			class="cursor-default rounded-10 border-2 p-4 md:text-lg text-center font-bold transition-colors uppercase"
		>
			No Thanks, I hate saving money
		</button>
	</div>
</article>
