---
import clsx from 'clsx'
import Container from './Container.astro'

interface Link {
	label: string
	href: string
	showOnMobile?: boolean
}

const route = Astro.url.pathname
const isActive = (href: string) => href === route

const links: Link[] = [
	{
		label: 'about',
		href: '/#about'
	},
	{
		label: 'portfolio',
		href: '/'
	},
	{
		label: 'blog',
		href: '/blog/',
		showOnMobile: true
	}
]
---

{
	route !== '/' && (
		<a
			href="/#performance-report"
			class="block justify-center bg-orange-600 py-2 px-4 text-center text-sm font-bold uppercase tracking-wide text-white md:text-base"
		>
			Click Here to get a
			<span class="mx-2 inline-block rounded-full bg-white px-3 text-orange-600 outline-none transition hover:bg-orange-700 hover:text-gray-100 focus:bg-orange-700 focus:text-gray-100">
				free
			</span>
			report on how to make your website faster
		</a>
	)
}

<Container class="nav top-0 z-20 p-5 backdrop-blur md:p-8">
	<nav class="flex items-baseline gap-5">
		<a href="/" class="text-lg leading-tight">raqueebuddin <span class="font-bold">aziz</span></a>
		<span class="grow"></span>
		<!-- desktop nav -->
		<ul class="contents">
			{
				links.map(({ showOnMobile, href, label }) => (
					<li class={clsx(!showOnMobile && 'hidden md:contents')}>
						<a {href} class={`${isActive(href) && 'font-bold underline'} text-lg hover:underline`}>
							{label}
						</a>
					</li>
				))
			}
			<li>
				<a
					href="/#contact"
					class="rounded-full bg-orange-600 px-3 py-2 text-lg font-bold text-gray-100 transition-colors hover:bg-orange-700"
				>
					contact</a
				>
			</li>
		</ul>
	</nav>
</Container>
<script>
	const nav = document.querySelector('.nav')
	window.addEventListener('scroll', () => {
		const condition = window.scrollY > 0 && !location.pathname.startsWith('/blog/')
		nav?.classList[condition ? 'add' : 'remove'](...'bg-gray-100/80 sticky'.split(' '))
	})
</script>
