---
import Container from "./Container.astro";

interface Link {
  label: string;
  href: string;
}

const route = Astro.url.pathname;
const isActive = (href: string) => href === route;

const links: Link[] = [
  {
    label: "about",
    href: "/#about",
  },
  {
    label: "portfolio",
    href: "/",
  },
  {
    label: "blog",
    href: "/blog",
  },
];
---

<Container class="p-5 md:p-10 pb-0 nav top-0 backdrop-blur z-20">
  <nav class="flex items-baseline gap-5">
    <a href="/" class="leading-tight text-lg">raqueebuddin<br />aziz</a>
    <span class="grow"></span>
    <!-- desktop nav -->
    <ul class="contents">
      {
        links.map(({ href, label }) => (
          <li class="hidden md:contents">
            <a
              {href}
              class={`${
                isActive(href) && "font-bold underline"
              } text-lg hover:underline`}
            >
              {label}
            </a>
          </li>
        ))
      }
      <li>
        <a
          href="/#contact"
          class="bg-gray-900 text-gray-100 px-3 py-1 rounded-full font-bold hover:bg-black hover:underline"
        >
          contact</a
        >
      </li>
    </ul>
  </nav>
</Container>
<script>
  const nav = document.querySelector(".nav");
  window.addEventListener("scroll", () => {
    const condition =
      window.scrollY > 0 && !location.pathname.startsWith("/blog/");
    nav?.classList[condition ? "add" : "remove"](
      ..."bg-white/80 sticky".split(" ")
    );
  });
</script>
