---
import { pullKeys } from '@utils'

export interface Props {
  title: string
  fluid?: boolean
  [key: string]: unknown
}

const { title, fluid, ...others } = Astro.props as Props
const _class = pullKeys(others, ['class']).class
---

<section {...others} class={`${_class} section ${fluid && 'fluid'}`}>
  <h2 class="section__title">{title}</h2>
  <div class="section__body">
    <slot />
  </div>
</section>

<style lang="postcss">
  .section {
    display: flex;
    padding-block: var(--large-gap);
    flex-direction: column;
    gap: var(--gap);
    .section__title {
      /* font-weight: bold; */
      font-family: var(--headline-family);
      text-align: center;
      max-width: 15ch;
      margin-inline: auto;
      font-size: var(--h2-text);
    }
    &:not(.fluid) {
      .section__body {
        padding-inline: var(--container-padding);
        max-inline-size: var(--container-size);
        margin-inline: auto;
      }
    }
  }
</style>
