---
import { Image } from 'astro:assets'
import profileImage from '../assets/images/profile.webp'
---

<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">About Me</h2>
	<section aria-label="about me" id="about">
		<article
			class="p-10 rounded-10 grid md:grid-cols-[3fr_2fr] gap-10 shadow-xl border-2 border-orange-700"
			style="box-shadow: #c2410c 0px 5px"
		>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl md:text-5xl text-gray-700 font-bold mb-5">Raqueebuddin Aziz</h3>

				<p class="text-sm md:text-base text-gray-700">
					Full-stack Web Designer & Developer with 4+ years of experience in helping tech startups
					build MVPs for their business and collect user feedback.
				</p>

				<p class="text-sm md:text-base text-gray-700">
					Skilled in various technologies such as NodeJS, Python, Rust, Svelte/Kit, Vue/Nuxt,
					Solidjs/SolidStart, AstroJS, and others.
				</p>

				<p class="text-sm md:text-base text-gray-700">
					I have a proven track record of creating high-performance, scalable, and user-friendly
					applications that meet the business's specific needs.
				</p>

				<p class="text-sm md:text-base text-gray-700">
					I have experience in both frontend and backend development including working with
					different languages and frameworks.
				</p>

				<p class="flex gap-1 items-center text-sm md:text-base text-gray-700">
					<span class="i-mdi-cards-heart text-xl"></span>
					<span>
						I love <span class="font-semibold">cooking</span>, <span class="font-semibold"
							>music</span
						> and <span class="font-semibold">coding</span>.
					</span>
				</p>
			</div>
			<Image
				src={profileImage}
				alt="profile"
				loading="lazy"
				class="aspect-square rounded-full w-full h-full object-cover shadow-inner shadow-black"
			/>
		</article>
	</section>
</div>
