<div class="flex flex-col gap-1">
	<h2 class="mx-auto my-10 text-xl font-semibold uppercase text-gray-700">Get in touch</h2>
	<section aria-label="contact" id="contact">
		<form
			name="contact"
			data-netlify="true"
			method="post"
			class="rounded-10 flex flex-col gap-5 overflow-hidden bg-gray-100 p-10 text-gray-900 shadow-lg"
		>
			<div class="flex flex-col gap-1">
				<label for="name" class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					>Name</label
				>
				<input
					type="text"
					name="name"
					id="name"
					placeholder="e.g. John Doe"
					class="rounded-5 w-full min-w-0 px-5 py-3"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600" for="email"
					>Email</label
				>
				<input
					name="email"
					type="email"
					id="email"
					placeholder="e.g. name@domain.com"
					class="rounded-5 w-full min-w-0 px-5 py-3"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label
					class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					for="message">Message</label
				>
				<textarea
					name="message"
					id="message"
					placeholder="Your message here"
					class="rounded-5 min-h-xs w-full min-w-0 px-5 py-3"
					required></textarea>
			</div>
			<button
				type="submit"
				class="rounded-5 ml-auto whitespace-nowrap bg-orange-600 px-5 py-3 font-bold text-white shadow-lg transition hover:bg-orange-700 hover:shadow-none"
			>
				Send Message
			</button>
		</form>
	</section>
	<script>
		import { submitFormWithoutListener } from '@/utils'
		const form = document.querySelector("form[name='contact']") as HTMLFormElement
		function onSubmit(e: SubmitEvent) {
			e.preventDefault()
			const timer = setTimeout(() =>
				submitFormWithoutListener(e.target as HTMLFormElement, onSubmit)
			)
			window.gtag('event', 'generate_lead', {
				event_category: 'Lead Generation',
				event_label: 'Contact Form Submission (A)',
				event_callback: function () {
					clearTimeout(timer)
					submitFormWithoutListener(e.target as HTMLFormElement, onSubmit)
				}
			})
		}
		form.addEventListener('submit', onSubmit)
	</script>
</div>
