<div class="flex flex-col gap-1">
  <h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">
    Get in touch
  </h2>
  <section aria-label="contact" id="contact">
    <form
      name="contact"
      data-netlify="true"
      method="post"
      class="flex flex-col bg-gray-100 rounded-10 text-gray-900 shadow-lg overflow-hidden p-10 gap-5"
    >
      <div class="flex flex-col gap-1">
        <label
          for="name"
          class="uppercase tracking-wide font-semibold text-gray-600 text-xs ml-3"
          >Name</label
        >
        <input
          type="text"
          name="name"
          id="name"
          placeholder="e.g. John Doe"
          class="px-5 py-3 rounded-5 min-w-0 w-full"
          required
        />
      </div>
      <div class="flex flex-col gap-1">
        <label
          class="uppercase tracking-wide font-semibold text-gray-600 text-xs ml-3"
          for="email">Email</label
        >
        <input
          name="email"
          type="email"
          id="email"
          placeholder="e.g. name@domain.com"
          class="px-5 py-3 rounded-5 min-w-0 w-full"
          required
        />
      </div>
      <div class="flex flex-col gap-1">
        <label
          class="uppercase tracking-wide font-semibold text-gray-600 text-xs ml-3"
          for="message">Message</label
        >
        <textarea
          name="message"
          id="message"
          placeholder="Your message here"
          class="px-5 py-3 rounded-5 min-h-xs min-w-0 w-full"
          required></textarea>
      </div>
      <button
        type="submit"
        class="px-5 py-3 shadow-lg text-white bg-orange-700 font-bold rounded-5 transition hover:shadow-none hover:bg-orange-600 whitespace-nowrap ml-auto"
      >
        Send Message
      </button>
    </form>
  </section>
  <script>
    const form = document.querySelector(
      "form[name='contact']"
    ) as HTMLFormElement;
    form?.addEventListener("submit", () => {
      gtag("event", "generate_lead", {});
    });
  </script>
</div>
