<div class="flex flex-col gap-1">
	<h2 class="mx-auto text-xl font-semibold uppercase text-gray-700 mb-2">
		Registration for interest
	</h2>
	<p class="mx-auto mb-10 max-w-[50ch]">Fill this form if you are interested in working with me.</p>
	<section aria-label="contact" id="contact" class="flex flex-col gap-5 items-center">
		<form
			name="contact"
			action="https://formspree.io/f/xyzyjpae"
			method="post"
			class="rounded-10 flex flex-col gap-5 overflow-hidden p-10 text-gray-900 w-full border-2 border-orange-600 bg-white"
			style="box-shadow: #ea580c 0px 5px"
		>
			<input name="subject" type="hidden" value="New contact form submission from {{ name }}" />
			<p class="hidden">
				<label>
					Don’t fill this out if you’re human: <input name="_gotcha" />
				</label>
			</p>
			<div class="flex flex-col gap-1">
				<label for="name" class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					>Name</label
				>
				<input
					type="text"
					name="name"
					id="name"
					placeholder="e.g. John Doe"
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600" for="email"
					>Email</label
				>
				<input
					name="email"
					type="email"
					id="email"
					placeholder="e.g. name@domain.com"
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required
				/>
			</div>
			<!-- <div class="grid gap-4 sm:grid-cols-2"> -->
			<!-- 	<div class="flex flex-col gap-1"> -->
			<!-- 		<label -->
			<!-- 			class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600" -->
			<!-- 			for="estimated-budget-usd">What is your estimated budget?</label -->
			<!-- 		> -->
			<!-- 		<div -->
			<!-- 			class:list={[ -->
			<!-- 				'rounded-lg border-2 border-[--color] flex overflow-hidden', -->
			<!-- 				'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus-within:[--color:theme(colors.orange.600)]' -->
			<!-- 			]} -->
			<!-- 			style="box-shadow: var(--color) 0px 2px" -->
			<!-- 		> -->
			<!-- 			<input -->
			<!-- 				name="estimated-budget-usd" -->
			<!-- 				type="text" -->
			<!-- 				pattern="^[0-9]+$" -->
			<!-- 				inputmode="numeric" -->
			<!-- 				id="estimated-budget-usd" -->
			<!-- 				class="grow px-5 py-3 focus:outline-none min-w-0 w-full" -->
			<!-- 				placeholder="Enter your estimated budget here" -->
			<!-- 				required -->
			<!-- 			/> -->
			<!-- 			<span -->
			<!-- 				class="font-semibold uppercase tracking-wide text-gray-600 px-5 py-3 bg-neutral-100 text-sm flex items-center" -->
			<!-- 				>USD</span -->
			<!-- 			> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
			<!-- 	<div class="flex flex-col gap-1"> -->
			<!-- 		<label -->
			<!-- 			class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600" -->
			<!-- 			for="expected-timeline-days">What is your expected timeline?</label -->
			<!-- 		> -->
			<!-- 		<div -->
			<!-- 			class:list={[ -->
			<!-- 				'rounded-lg border-2 border-[--color] flex overflow-hidden', -->
			<!-- 				'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus-within:[--color:theme(colors.orange.600)]' -->
			<!-- 			]} -->
			<!-- 			style="box-shadow: var(--color) 0px 2px" -->
			<!-- 		> -->
			<!-- 			<input -->
			<!-- 				name="expected-timeline-days" -->
			<!-- 				type="text" -->
			<!-- 				pattern="^[0-9]+$" -->
			<!-- 				inputmode="numeric" -->
			<!-- 				id="expected-timeline-days" -->
			<!-- 				class="grow px-5 py-3 focus:outline-none min-w-0 w-full" -->
			<!-- 				placeholder="Enter your expected timeline here" -->
			<!-- 				required -->
			<!-- 			/> -->
			<!-- 			<span -->
			<!-- 				class="font-semibold uppercase tracking-wide text-gray-600 px-5 py-3 bg-neutral-100 text-sm flex items-center" -->
			<!-- 				>Day(s)</span -->
			<!-- 			> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
			<!-- </div> -->
			<div class="flex flex-col gap-1">
				<label
					class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					for="message"
				>
					Tell me about your project
				</label>
				<textarea
					name="message"
					id="message"
					placeholder="Hey Raqueeb, I would love to get your help with automating..."
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none min-h-xs',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required></textarea>
			</div>
			<button
				type="submit"
				class="[--color:theme(colors.orange.600)] rounded-lg ml-auto whitespace-nowrap px-5 py-3 font-bold text-[--color] border-2 border-[--color] transition hover:bg-orange-600 hover:text-white disabled:[--color:theme(colors.gray.400)] disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:hover:text-[--color]"
				style="box-shadow: var(--color) 0px 5px"
			>
				Send Message
			</button>
		</form>
	</section>

	<dialog
		id="success-dialog"
		class="backdrop:backdrop-brightness-50 p-5 bg-neutral-100 rounded-5 max-w-sm border-2 border-orange-600"
		style="box-shadow: #d97706 0px 5px"
	>
		<form method="dialog" class="flex flex-col gap-3">
			<h3 class="text-2xl font-bold">Thanks for reaching out!</h3>
			<p>
				You will get a reply under 24hrs. In case you don't receive a reply, please check your spam
				folder.
			</p>
			<p>If you want you can book a free 30-minute call to discuss your project.</p>
			<div class="flex gap-3 flex-wrap items-center justify-end mt-5">
				<a
					data-close-dialog
					target="_blank"
					class="bg-orange-600 text-white font-bold px-5 py-3 hover:bg-orange-700 focus:outline-none focus:bg-orange-700 rounded-lg transition-colors"
					data-umami-event="book-a-call"
					data-umami-event-location="success-dialog"
					href="https://tidycal.com/raqueebuddin.aziz.314/30-minute-meeting">Book a call</a
				>
				<button
					data-close-dialog
					class="border-2 border-transparent text-gray-600 font-bold px-5 py-3 hover:text-gray-700 focus:outline-none focus:text-gray-700 focus:border-gray-700 hover:border-gray-700 rounded-lg transition-colors"
					type="submit">Close</button
				>
			</div>
		</form>
	</dialog>

	<script>
		const dialog = document.querySelector('dialog#success-dialog') as HTMLDialogElement
		dialog.addEventListener('click', (event) => {
			if (event.currentTarget !== event.target) return
			dialog.close()
		})

		const closeButtons = dialog.querySelectorAll('[data-close-dialog]')
		closeButtons.forEach((button) => {
			button.addEventListener('click', () => {
				dialog.close()
			})
		})
	</script>

	<script>
		// const BRANCH = (document.querySelector('.branch') as HTMLElement)?.dataset.branch ?? 'unknown'
		const successDialog = document.querySelector('dialog#success-dialog') as HTMLDialogElement

		const form = document.querySelector("form[name='contact']") as HTMLFormElement
		const submitButton = form.querySelector('button[type="submit"]') as HTMLButtonElement
		function onSubmit(event: SubmitEvent) {
			event.preventDefault()
			const formData = new FormData(form)

			const budget = Number(formData.get('estimated-budget-usd'))
			if (budget < 500) {
				alert(
					'Your budget is below the minimum budget requirements. Please consider raising your budget to at least 500USD.'
				)
				return
			}

			submitButton.disabled = true
			submitButton.textContent = 'Sending Please Wait...'

			// if (formData['bot-field'] !== '') return
			fetch(form.action, {
				method: form.method,
				headers: { Accept: 'application/json' },
				body: formData
			})
				.then(async (response) => {
					if (response.ok) {
						const searchParams = new URLSearchParams(window.location.search)
						searchParams.set('email', formData.get('email') as string)
						fetch('/thanks?' + searchParams.toString())
						successDialog.showModal()
						form.reset()
					} else {
						alert('Sorry! There was a problem submitting your form')
					}
				})
				.catch(() => alert('Sorry! There was a problem submitting your form'))
				.finally(() => {
					submitButton.disabled = false
					submitButton.textContent = 'Send Message'
				})
			umami.track('contact-form-submit')
			fbq('track', 'Contact')
		}
		form.addEventListener('submit', onSubmit)

		// document.getElementById('book-a-call')?.addEventListener('click', function () {
		// 	fbq('track', 'Contact')
		// })
	</script>
</div>
<script>
	import { trackScroll } from '@/utils/umami'
	trackScroll('contact')
</script>
