<div class="flex flex-col gap-1">
	<h2 class="mx-auto my-10 text-xl font-semibold uppercase text-gray-700">Get in touch</h2>
	<section aria-label="contact" id="contact" class="flex flex-col gap-5 items-center">
		<a
			id="book-a-call"
			href="https://tidycal.com/raqueebuddin.aziz.314/30-minute-meeting"
			target="_blank"
			class="mx-auto text-gray-100 font-bold uppercase tracking-wide px-5 py-3 rounded-10 flex gap-3 items-center bg-green-700 hover:bg-green-600 focus:bg-green-600 transition-colors"
		>
			<span class="text-xl i-mdi-phone"></span>
			Book A Call
		</a>
		<script>
			document.getElementById('book-a-call')?.addEventListener('click', function () {
				window.gtag('event', 'generate_lead', {
					event_category: 'Lead Generation',
					event_label: 'Book A Call'
				})
				fbq('track', 'Contact')
			})
		</script>
		<!-- <script is:inline async defer src="https://asset-tidycal.b-cdn.net//js/embed.js"></script> -->
		<!-- <div id="tidycal-embed" data-path="raqueebuddin.aziz.314/30-minute-meeting"></div> -->
		<!-- <style is:global> -->
		<!-- 	.tidycal-embed { -->
		<!-- 		border-radius: 2.5rem; -->
		<!-- 		padding: 1.5rem; -->
		<!-- 		background-color: white; -->
		<!-- 		box-shadow: -->
		<!-- 			0 10px 15px -3px rgb(0 0 0 / 0.1), -->
		<!-- 			0 4px 6px -4px rgb(0 0 0 / 0.1); -->
		<!-- 	} -->
		<!-- </style> -->
		<span class="text-xl uppercase tracking-wide text-center">OR</span>
		<form
			name="contact"
			data-netlify="true"
			netlify-honeypot="bot-field"
			method="post"
			class="rounded-10 flex flex-col gap-5 overflow-hidden p-10 text-gray-900 w-full border-2 border-orange-600 bg-white"
			style="box-shadow: #ea580c 0px 5px"
		>
			<p class="hidden">
				<label>
					Don’t fill this out if you’re human: <input name="bot-field" />
				</label>
			</p>
			<div class="flex flex-col gap-1">
				<label for="name" class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					>Name</label
				>
				<input
					type="text"
					name="name"
					id="name"
					placeholder="e.g. John Doe"
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600" for="email"
					>Email</label
				>
				<input
					name="email"
					type="email"
					id="email"
					placeholder="e.g. name@domain.com"
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label
					class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					for="message">Message</label
				>
				<textarea
					name="message"
					id="message"
					placeholder="Your message here"
					class:list={[
						'rounded-lg w-full min-w-0 px-5 py-3 border-2 border-[--color] focus:outline-none min-h-xs',
						'[--color:theme(colors.gray.300)] hover:[--color:theme(colors.orange.600)] focus:[--color:theme(colors.orange.600)]'
					]}
					style="box-shadow: var(--color) 0px 2px"
					required></textarea>
			</div>
			<button
				class="rounded-lg ml-auto whitespace-nowrap px-5 py-3 font-bold text-orange-600 border-2 border-orange-600 transition hover:bg-orange-600 hover:text-white"
				style="box-shadow: #ea580c 0px 5px"
			>
				Send Message
			</button>
		</form>
	</section>
	<script>
		const BRANCH = (document.querySelector('.branch') as HTMLElement)?.dataset.branch ?? 'unknown'
		const form = document.querySelector("form[name='contact']") as HTMLFormElement
		function onSubmit(event: SubmitEvent) {
			event.preventDefault()
			const formData = Object.fromEntries(new FormData(form).entries()) as Record<string, string>
			fetch(form.action, {
				method: 'POST',
				headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				body: new URLSearchParams(formData).toString()
			})
				.then(() => alert('Form successfully submitted'))
				.catch(() => alert('Sorry! There was a problem submitting your form'))
			window.gtag('event', 'generate_lead', {
				event_category: 'Lead Generation',
				event_label: `Contact Form (${BRANCH})`
			})
			fbq('track', 'Contact')
		}
		form.addEventListener('submit', onSubmit)
	</script>
</div>
