---
// import BlinkingEye from '@/components/BlinkingEye.astro'
import { Image } from 'astro:assets'
import heroImage from '@/assets/images/monitor.svg'
---

<section
	aria-label="hero"
	id="hero"
	class="rounded-10 grid gap-5 bg-orange-600 p-10 text-gray-100 shadow-2xl xl:grid-cols-2 xl:gap-10"
>
	<!-- Headline -->
	<div class="flex flex-col gap-5">
		<!-- <h2 class="text-xl font-semibold text-gray-100 md:text-2xl">Web App <wbr />Developer</h2> -->
		<h1
			class="align-center max-w-2xl text-4xl font-extrabold leading-snug md:text-6xl md:leading-tight"
		>
			I help solar energy companies <span
				class="bg-white text-orange-600 px-4 rounded-full whitespace-nowrap">save money</span
			> by building automation tools
			<!-- Helping tech startups build their MVPs as fast as possible -->
			<!-- <span class="bg-white text-orange-600 px-8 rounded-full">promise</span> -->
			<!-- <span class="text-5xl md:text-6xl inline-block align-bottom"> -->
			<!--   <BlinkingEye /> -->
			<!-- </span> -->
		</h1>
		<!-- <span class="font-bold text-xl md:text-3xl">Get 1st version as soon as 3 days</span> -->
		<span class="font-medium text-lg mb-5">
			50+ ⭐⭐⭐⭐⭐ ratings<wbr /> by people just like you
		</span>
		<div class="grid items-center gap-5 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2">
			<a
				href="/contact"
				class="rounded-10 whitespace-nowrap bg-gray-100 p-4 md:text-lg text-center font-bold text-orange-600 transition-colors focus:bg-white focus:text-orange-600 hover:bg-white hover:text-orange-600 uppercase"
				data-umami-event="goto-contact"
				data-umami-event-location="hero">Contact Me</a
			>
		</div>
	</div>

	<Image
		src={heroImage}
		draggable="false"
		class="my-auto hidden xl:block w-[90%] mx-auto select-none"
		alt="monitor"
		loading="eager"
	/>

	<a
		class="col-span-full mx-auto inline-grid rounded-full bg-white p-2 text-xl motion-safe:animate-bounce"
		href="#testimonials"
		data-umami-event="goto-testimonials"
		data-umami-event-location="hero"
		title="Testimonials"
	>
		<div class="i-carbon-arrow-down bg-orange-600 text-xl"></div>
		<span class="sr-only">Testimonials</span>
	</a>
</section>

<!-- <script> -->
<!-- 	import { submitFormWithoutListener } from '@/utils' -->
<!-- 	const forms = document.querySelectorAll("form[name='report']") as NodeListOf<HTMLFormElement> -->
<!-- 	function onSubmit(e: SubmitEvent) { -->
<!-- 		e.preventDefault() -->
<!-- 		const timer = setTimeout( -->
<!-- 			() => submitFormWithoutListener(e.target as HTMLFormElement, onSubmit), -->
<!-- 			1000 -->
<!-- 		) -->
<!-- 		//fbq('track', 'Contact') -->
<!-- 	} -->
<!-- 	forms.forEach((form) => form.addEventListener('submit', onSubmit)) -->
<!-- </script> -->
