---
import BlinkingEye from "@/components/BlinkingEye.astro";
---

<section
  aria-label="hero"
  id="hero"
  class="bg-orange-600 p-10 rounded-10 text-gray-100 grid lg:grid-cols-2 gap-5 shadow-2xl"
>
  <div class="flex flex-col sm:flex-row lg:flex-col gap-5 justify-between">
    <div class="flex flex-col gap-3">
      <h1 class="text-gray-100 text-xl md:text-2xl font-bold">
        Web Designer & Developer
      </h1>
      <p class="text-3xl md:text-5xl font-bold align-bottom">
        Creating websites so <span
          class="bg-white text-orange-600 leading-tight px-5 rounded-full"
          >fast</span
        > they load in the blink of an eye<span
          class="ml-1 text-3xl lg:text-5xl inline-block align-bottom"
          ><BlinkingEye /></span
        >
      </p>
    </div>
    <div class="flex flex-col lg:flex-row gap-3 items-baseline">
      <a
        href="/#contact"
        class="border-gray-100 border-2 px-5 py-3 text-white bg-orange-600 font-bold transition-colors hover:bg-gray-100 hover:text-orange-600 rounded-5 whitespace-nowrap w-full text-center"
        >Contact Me</a
      >
      <a
        href="/#projects"
        class="px-5 py-3 text-white bg-orange-600 font-bold transition-colors hover:bg-gray-100 hover:text-orange-600 rounded-5 whitespace-nowrap w-full text-center"
        >See My Work</a
      >
    </div>
  </div>
  <article
    class="bg-gray-100 rounded-10 p-10 text-gray-900 shadow-inset shadow-xl"
  >
    <figure class="flex flex-col gap-5">
      <div class="flex gap-5">
        <blockquote class="grow md:text-lg">
          &ldquo;I've been coming back to work with Aziz for a couple months now
          and he has always been able to get the job done to my complete
          satisfaction. Smart, polite, and enthusiastic about his field. Would
          recommend!&rdquo;
        </blockquote>
        <span
          class="shrink-0 inline-block i-fa-quote-right text-4xl text-gray-400"
        ></span>
      </div>
      <figcaption
        class="font-bold text-sm text-gray-700 font-medium flex justify-end"
      >
        - Jakub Donovan, Frontend Developer
      </figcaption>
    </figure>
  </article>
  <section
    aria-label="performance-report"
    id="performance-report"
    class="col-span-full row-start-2"
  >
    <form
      class="bg-white rounded-10 p-5 flex flex-col gap-5 text-gray-900 shadow-inset shadow-xl"
      name="report"
      method="post"
      data-netlify="true"
    >
      <h2
        class="mx-auto uppercase text-xl md:text-2xl text-gray-700 font-semibold text-center mb-5"
      >
        <span class="bg-orange-600 text-gray-100 px-5 rounded-full font-black"
          >free</span
        > performance report for your website
      </h2>
      <div class="flex flex-col gap-1">
        <label
          for="email-report"
          class="uppercase tracking-wide font-semibold text-gray-600 text-xs ml-3"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email-report"
          placeholder="name@domain.com"
          class="px-5 py-3 rounded-5 bg-gray-100 min-w-0 w-full"
          required
        />
      </div>
      <div class="flex flex-col gap-1">
        <label
          for="address"
          class="uppercase tracking-wide font-semibold text-gray-600 text-xs ml-3"
          >Website Address</label
        >
        <input
          type="text"
          name="address"
          id="address"
          placeholder="www.example.com"
          class="px-5 py-3 rounded-5 bg-gray-100 min-w-0 w-full"
          required
        />
      </div>
      <button
        type="submit"
        class="px-5 py-3 shadow-lg text-white bg-orange-600 font-bold rounded-5 transition hover:shadow-none hover:bg-orange-700 whitespace-nowrap ml-auto"
      >
        Submit
      </button>
    </form>
  </section>
  <a
    class="rounded-full bg-white p-2 inline-grid mx-auto text-xl motion-safe:animate-bounce col-span-full mt-10"
    href="#testimonials"
    aria-label="testimonials"
  >
    <div class="i-carbon-arrow-down text-xl bg-orange-600"></div>
  </a>
</section>
<script>
  const form = document.querySelector("form[name='report']") as HTMLFormElement;
  form?.addEventListener("submit", () => {
    gtag("event", "generate_lead", {});
  });
</script>
