---
// import BlinkingEye from '@/components/BlinkingEye.astro'
---

<section
	aria-label="hero"
	id="hero"
	class="rounded-10 grid gap-5 bg-orange-600 p-10 text-gray-100 shadow-2xl xl:grid-cols-2 xl:gap-10"
>
	<!-- Headline -->
	<div class="flex flex-col gap-5">
		<h2 class="text-xl font-semibold text-gray-100 md:text-2xl">Web Designer <wbr />& Developer</h2>
		<h1
			class="align-center max-w-2xl text-4xl font-extrabold leading-snug md:text-6xl md:leading-tight"
		>
			Helping tech startups build their MVPs as fast as possible
			<!-- <span class="bg-white text-orange-600 px-8 rounded-full">promise</span> -->
			<!-- <span class="text-5xl md:text-6xl inline-block align-bottom"> -->
			<!--   <BlinkingEye /> -->
			<!-- </span> -->
		</h1>
		<span class="font-bold text-xl md:text-3xl">Get 1st version as soon as 3 days</span>
		<span class="font-medium text-lg mb-5">
			50+ ⭐⭐⭐⭐⭐ ratings<wbr /> by people just like you
		</span>
		<div class="grid items-center gap-5 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2">
			<a
				href="/#contact"
				class="rounded-10 whitespace-nowrap bg-gray-100 p-4 md:text-lg text-center font-bold text-orange-600 transition-colors focus:bg-white focus:text-orange-600 hover:bg-white hover:text-orange-600 uppercase"
				>Contact Me</a
			>
		</div>
	</div>

	<div class="flex flex-col gap-5">
		<!-- CTA -->
		<!-- Testimonial -->
		<img
			src="/assets/images/monitor.svg"
			class="my-auto hidden xl:block w-[90%] mx-auto"
			alt="monitor"
			width="2120"
			height="1600"
		/>
		<!-- <article -->
		<!--   class="bg-gray-100 rounded-10 p-10 text-gray-900 shadow-inset shadow-xl lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3" -->
		<!-- > -->
		<!--   <figure class="flex flex-col gap-5 h-full justify-center"> -->
		<!--     <div class="flex gap-3"> -->
		<!--       { -->
		<!--         Array(5) -->
		<!--           .fill(null) -->
		<!--           .map(() => ( -->
		<!--             <span class="text-amber-400 text-2xl i-clarity:star-solid" /> -->
		<!--           )) -->
		<!--       } -->
		<!--     </div> -->
		<!--     <div class="flex gap-5"> -->
		<!--       <blockquote class="grow md:text-lg"> -->
		<!--         &ldquo;I've been coming back to work with Aziz for a couple months -->
		<!--         now and he has always been able to get the job done to my complete -->
		<!--         satisfaction. Smart, polite, and enthusiastic about his field. Would -->
		<!--         recommend!&rdquo; -->
		<!--       </blockquote> -->
		<!--       <span -->
		<!--         class="shrink-0 inline-block i-fa-quote-right text-4xl text-gray-400" -->
		<!--       ></span> -->
		<!--     </div> -->
		<!--     <figcaption -->
		<!--       class="font-bold text-sm text-gray-700 font-medium flex justify-end" -->
		<!--     > -->
		<!--       - Jakub Donovan, Frontend Developer -->
		<!--     </figcaption> -->
		<!--   </figure> -->
		<!-- </article> -->
	</div>

	<!-- Report Form -->

	<a
		class="col-span-full mx-auto inline-grid rounded-full bg-white p-2 text-xl motion-safe:animate-bounce"
		href="#testimonials"
	>
		<div class="i-carbon-arrow-down bg-orange-600 text-xl"></div>
		<span class="sr-only">Testimonials</span>
	</a>
</section>

<script>
	import { submitFormWithoutListener } from '@/utils'
	const forms = document.querySelectorAll("form[name='report']") as NodeListOf<HTMLFormElement>
	function onSubmit(e: SubmitEvent) {
		e.preventDefault()
		const timer = setTimeout(
			() => submitFormWithoutListener(e.target as HTMLFormElement, onSubmit),
			1000
		)
		window.gtag('event', 'generate_lead', {
			event_category: 'Lead Generation',
			event_label: 'Report Form Submission (A)',
			event_callback: function () {
				clearTimeout(timer)
				submitFormWithoutListener(e.target as HTMLFormElement, onSubmit)
			}
		})
		fbq('track', 'Contact')
	}
	forms.forEach((form) => form.addEventListener('submit', onSubmit))
</script>
