---
// import BlinkingEye from '@/components/BlinkingEye.astro'
---

<section
	aria-label="hero"
	id="hero"
	class="rounded-10 grid gap-5 bg-orange-600 p-10 text-gray-100 shadow-2xl lg:grid-cols-2 lg:gap-10"
>
	<!-- Headline -->
	<div class="flex flex-col gap-5">
		<h1 class="text-xl font-semibold text-gray-100 md:text-2xl">Svelte(Kit) <wbr />Developer</h1>
		<p
			class="align-center max-w-xl text-4xl font-extrabold leading-snug md:text-6xl md:leading-tight"
		>
			Fastest Svelte(Kit) websites that won't keep your customers waiting - my promise
			<!-- <span class="bg-white text-orange-600 px-8 rounded-full">promise</span> -->
			<!-- <span class="text-5xl md:text-6xl inline-block align-bottom"> -->
			<!--   <BlinkingEye /> -->
			<!-- </span> -->
		</p>
		<div
			class="grid items-baseline gap-3 sm:grid-cols-2 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2"
		>
			<a
				href="/svelte-web-developer/#contact"
				class="rounded-5 whitespace-nowrap bg-gray-100 px-5 py-3 text-center font-bold text-orange-600 transition-colors hover:bg-white hover:text-orange-600"
				>Contact Me</a
			>
			<a
				href="/svelte-web-developer/#projects"
				class="rounded-5 whitespace-nowrap border-2 bg-orange-600 px-5 py-3 text-center font-bold text-white transition-colors border-gray-100 hover:bg-white hover:text-orange-600 hover:bg-transparent"
				>See My Work</a
			>
		</div>
	</div>

	<div class="p-10">
		<!-- CTA -->
		<!-- Testimonial -->
		<div
			class="hidden lg:block my-auto bg-neutral-100 shadow-xl shadow-inner rounded-full aspect-square p-18 overflow-hidden"
		>
			<img
				src="/assets/images/svelte.svg"
				class="w-full h-full object-contain"
				alt="svelte"
				width="2120"
				height="1600"
			/>
		</div>
		<!-- <article -->
		<!--   class="bg-gray-100 rounded-10 p-10 text-gray-900 shadow-inset shadow-xl lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3" -->
		<!-- > -->
		<!--   <figure class="flex flex-col gap-5 h-full justify-center"> -->
		<!--     <div class="flex gap-3"> -->
		<!--       { -->
		<!--         Array(5) -->
		<!--           .fill(null) -->
		<!--           .map(() => ( -->
		<!--             <span class="text-amber-400 text-2xl i-clarity:star-solid" /> -->
		<!--           )) -->
		<!--       } -->
		<!--     </div> -->
		<!--     <div class="flex gap-5"> -->
		<!--       <blockquote class="grow md:text-lg"> -->
		<!--         &ldquo;I've been coming back to work with Aziz for a couple months -->
		<!--         now and he has always been able to get the job done to my complete -->
		<!--         satisfaction. Smart, polite, and enthusiastic about his field. Would -->
		<!--         recommend!&rdquo; -->
		<!--       </blockquote> -->
		<!--       <span -->
		<!--         class="shrink-0 inline-block i-fa-quote-right text-4xl text-gray-400" -->
		<!--       ></span> -->
		<!--     </div> -->
		<!--     <figcaption -->
		<!--       class="font-bold text-sm text-gray-700 font-medium flex justify-end" -->
		<!--     > -->
		<!--       - Jakub Donovan, Frontend Developer -->
		<!--     </figcaption> -->
		<!--   </figure> -->
		<!-- </article> -->
	</div>

	<!-- Report Form -->
	<section
		aria-label="performance-report"
		id="performance-report"
		class="lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3"
	>
		<form
			class="rounded-5 shadow-inset flex h-full flex-col gap-5 bg-white p-5 text-gray-900 shadow-xl"
			name="report"
			method="post"
			data-netlify="true"
		>
			<h2
				class="mx-auto mb-5 text-center text-xl font-semibold uppercase text-gray-700 md:text-2xl"
			>
				<span class="rounded-full bg-orange-600 px-5 font-black text-gray-100">free</span>
				analysis on how to make your sveltekit website faster
			</h2>
			<div class="flex flex-col gap-1">
				<label
					for="email-report"
					class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600">Email</label
				>
				<input
					type="email"
					name="email"
					id="email-report"
					placeholder="name@domain.com"
					class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
					required
				/>
			</div>
			<div class="flex flex-col gap-1">
				<label
					for="address"
					class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
					>Website Address</label
				>
				<input
					type="text"
					name="address"
					id="address"
					placeholder="www.example.com"
					class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
					required
				/>
			</div>
			<button
				class="rounded-5 ml-auto whitespace-nowrap bg-orange-600 px-5 py-3 font-bold text-white shadow-lg transition hover:bg-orange-700 hover:shadow-none"
			>
				Submit
			</button>
		</form>
	</section>
	<a
		class="col-span-full mx-auto mt-10 inline-grid rounded-full bg-white p-2 text-xl motion-safe:animate-bounce"
		href="#testimonials"
		aria-label="testimonials"
	>
		<div class="i-carbon-arrow-down bg-orange-600 text-xl"></div>
	</a>
</section>
<script>
	import { submitFormWithoutListener } from '@/utils'
	const forms = document.querySelectorAll("form[name='report']") as NodeListOf<HTMLFormElement>
	function onSubmit(e: SubmitEvent) {
		e.preventDefault()
		const timer = setTimeout(
			() => submitFormWithoutListener(e.target as HTMLFormElement, onSubmit),
			1000
		)
		window.gtag('event', 'generate_lead', {
			event_category: 'Lead Generation',
			event_label: 'Report Form Submission (A)',
			event_callback: function () {
				clearTimeout(timer)
				submitFormWithoutListener(e.target as HTMLFormElement, onSubmit)
			}
		})
	}
	forms.forEach((form) => form.addEventListener('submit', onSubmit))
</script>
