<section
  aria-label="hero"
  id="hero"
  class="bg-orange-600 p-10 rounded-10 text-gray-100 grid lg:grid-cols-2 gap-5 shadow-2xl"
>
  <div class="flex flex-col sm:flex-row lg:flex-col gap-5 justify-between">
    <h1 class="text-4xl md:text-6xl font-black">
      Web <br /> Designer <br /> & Developer
    </h1>
    <div class="flex flex-col lg:flex-row gap-3 items-baseline">
      <a
        href="/#contact"
        class="px-5 py-3 shadow-lg bg-gray-100 text-orange-600 font-bold rounded-5 transition hover:shadow-none hover:bg-white whitespace-nowrap"
        >Contact Me</a
      >
      <a
        href="/#projects"
        class="px-5 py-3 text-gray-100 bg-orange-600 font-bold transition-colors border-2 border-transparent hover:border-gray-100 rounded-5 whitespace-nowrap"
        >See My Work</a
      >
    </div>
  </div>
  <article
    class="bg-gray-100 rounded-10 p-10 text-gray-900 shadow-inset shadow-xl"
  >
    <figure class="flex flex-col gap-5">
      <div class="flex gap-5">
        <blockquote class="grow md:text-lg">
          &ldquo;I've been coming back to work with Aziz for a couple months now
          and he has always been able to get the job done to my complete
          satisfaction. Smart, polite, and enthusiastic about his field. Would
          recommend!&rdquo;
        </blockquote>
        <span
          class="shrink-0 inline-block i-fa-quote-right text-4xl text-gray-400"
        ></span>
      </div>
      <figcaption
        class="font-bold text-sm text-gray-700 font-medium flex justify-end"
      >
        - Jakub Donovan, Frontend Developer
      </figcaption>
    </figure>
  </article>
  <div
    class="rounded-full bg-white p-2 inline-grid mx-auto text-xl motion-safe:animate-bounce col-span-full mt-10"
  >
    <div class="i-carbon-arrow-down text-xl bg-orange-600"></div>
  </div>
</section>
