<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">Why work with me?</h2>
	<div class="flex flex-col gap-20">
		<section
			aria-label="benefits"
			id="benefits"
			class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 [--color:theme(colors.orange.700)]"
		>
			<article
				class="p-10 rounded-10 border-2 border-[--color] shadow-lg flex flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-iconoir:tools shrink-0 text-4xl"></span>
					BugFix and Efficiency Guarantee
				</h3>
				<p>
					<strong>Don't stress about your software breaking,</strong> and <strong
						>the automations will at least double your speed</strong
					>, saving you 50% or more of the time and costs it takes to do the work by hand. <strong
						>I guarantee that.</strong
					>
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-[--color] flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-iconoir:user-love shrink-0 text-4xl"></span>
					Personalized just for you
				</h3>
				<p>
					You can work with generic agency ABC who will churn out generalized tools for you that
					don't even work for your business or you can work with me who cares about the environment
					and the solar industry and in turn your business who will <strong
						>talk to you and build something just for you and your business</strong
					>.
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-[--color] flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-iconoir:rocket shrink-0 text-4xl"></span>
					Quick Results
				</h3>
				<p>
					You can lose money for 6 months waiting on red tape and bureaucracy with a generic agency,
					or you can <strong>work with me and start saving money right away</strong>.
				</p>
			</article>
		</section>
	</div>
</div>

<script>
	import { trackScroll } from '@/utils/umami'
	trackScroll('benefits')
</script>
