<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">Why work with me?</h2>
	<div class="flex flex-col gap-20">
		<section
			aria-label="benefits"
			id="benefits"
			class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 [--color:theme(colors.green.700)]"
		>
			<article
				class="p-10 rounded-10 border-2 border-[--color] shadow-lg flex flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-circum:dollar shrink-0 text-4xl"></span>
					6 Months BugFix Guarantee
				</h3>
				<p>
					Any bugs that arise within a <strong>6 Month</strong> period will be fixed free of cost.
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-[--color] flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-iconoir:rocket shrink-0 text-4xl"></span>
					Speedy Delivery
				</h3>
				<p>
					Get an <strong>MVP</strong> as soon as <strong>3 days</strong>.
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-[--color] flex-col gap-5"
				style="box-shadow: var(--color) 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-[--color]"
				>
					<span class="i-iconoir:no-lock shrink-0 text-4xl"></span>
					No Lock-In Period
				</h3>
				<p>
					<strong>No lock-in period</strong> with my <strong>agreement</strong>. Leave anytime you
					want.
				</p>
			</article>
		</section>
	</div>
</div>

<script>
	import { trackScroll } from '@/utils/umami'
	trackScroll('benefits')
</script>
