<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">Why work with me?</h2>
	<div class="flex flex-col gap-20">
		<section
			aria-label="benefits"
			id="benefits"
			class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5"
		>
			<article
				class="p-10 bg-gray-100 rounded-10 border-2 border-green-700 shadow-lg flex flex-col gap-5"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-circum:dollar text-4xl"></span>
					6 Months BugFix Guarantee
				</h3>
				<p>
					Any bugs that arise within a <strong>6 Month</strong> period will be fixed free of cost.
				</p>
			</article>
			<article
				class="p-10 bg-gray-100 rounded-10 shadow-lg flex border-2 border-green-700 flex-col gap-5"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-ph:house-line text-4xl"></span>
					You own everything
				</h3>
				<p>
					You <strong>own</strong> all the <strong>source code and content</strong>. Whenever our
					agreement ends <strong>you will be sent everything</strong>.
				</p>
			</article>
			<article
				class="p-10 bg-gray-100 rounded-10 shadow-lg flex border-2 border-green-700 flex-col gap-5"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-iconoir:rocket text-4xl"></span>
					Speedy Delivery
				</h3>
				<p>
					Get the <strong>1st</strong> version of the MVP as soon as <strong>3 days</strong>.
				</p>
			</article>
			<article
				class="p-10 bg-gray-100 rounded-10 shadow-lg flex border-2 border-green-700 flex-col gap-5 xl:col-start-2 xl:col-end-3"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-iconoir:no-lock text-4xl"></span>
					No Lock-In Period
				</h3>
				<p>
					<strong>No lock-in period</strong> with my <strong>agreement</strong>. Leave anytime you
					want.
				</p>
			</article>
		</section>
		<section
			aria-label="services"
			id="services"
			class="text-gray-900 grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] gap-10 bg-green-600 p-10 rounded-10 shadow-xl"
		>
			<article
				class="bg-gray-100 rounded-10 p-10 text-gray-800 shadow-lg flex flex-col gap-5 items-center text-center shadow-inset justify-between"
			>
				<h3 class="lg:text-xl font-semibold uppercase tracking-wide">Performance first mindset</h3>
				<p class="text-4xl lg:text-6xl font-black">Faster Websites</p>
				<span
					class="text-4xl lg:text-6xl i-carbon-arrow-down motion-safe:animate-bounce text-gray-600"
				>
					<span class="sr-only">Leads to</span>
				</span>
				<p class="text-4xl lg:text-6xl font-black">More Customers</p>
				<span
					class="text-4xl lg:text-6xl i-carbon-arrow-down motion-safe:animate-bounce text-gray-600"
				>
					<span class="sr-only">Leads to</span>
				</span>
				<p class="text-4xl lg:text-6xl font-black">More Revenue</p>
			</article>
			<article
				class="bg-gray-100 rounded-10 p-10 text-gray-800 shadow-lg flex flex-col gap-5 items-center text-center shadow-inset justify-between"
			>
				<h3 class="lg:text-xl font-semibold uppercase tracking-wide">
					Designed to be beautiful and effective
				</h3>
				<p class="text-4xl lg:text-6xl font-black">Beautiful Websites</p>
				<span
					class="text-4xl lg:text-6xl i-carbon-arrow-down motion-safe:animate-bounce text-gray-600"
				>
					<span class="sr-only">Leads to</span>
				</span>
				<p class="text-4xl lg:text-6xl font-black">Returning Customers</p>
				<span
					class="text-4xl lg:text-6xl i-carbon-arrow-down motion-safe:animate-bounce text-gray-600"
				>
					<span class="sr-only">Leads to</span>
				</span>
				<p class="text-4xl lg:text-6xl font-black">More Revenue</p>
			</article>
		</section>
	</div>
</div>
