<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10 text-center">
		Why automate business processes?
	</h2>
	<div class="flex flex-col gap-20">
		<section aria-label="why" id="why" class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
			<article
				class="p-10 rounded-10 border-2 border-green-700 shadow-lg flex flex-col gap-5"
				style="box-shadow: #15803d 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-circum:dollar shrink-0 text-4xl"></span>
					You love earning and saving more money
				</h3>
				<p>
					Automating parts of your solar business allows you to <strong
						>earn more with the same workforce</strong
					> or <strong
						>run a leaner team to save costs without sacrificing your business output</strong
					>.
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-green-700 flex-col gap-5"
				style="box-shadow: #15803d 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-iconoir:emoji-sing-left-note text-4xl shrink-0"></span>
					You hate stress and love calm
				</h3>
				<p>
					A great automated process relieves you and your employees of a lot of stress, <strong
						>you don't have to worry about sending that email, following up with a lead, check to
						see if you are out of materials and order them. All that happens while you sleep</strong
					>.
				</p>
			</article>
			<article
				class="p-10 rounded-10 shadow-lg flex border-2 border-green-700 flex-col gap-5"
				style="box-shadow: #15803d 0px 5px"
			>
				<h3
					class="text-lg font-semibold uppercase tracking-wide flex gap-3 items-center text-green-700"
				>
					<span class="i-iconoir:graph-up shrink-0 text-4xl"></span>
					You would love to grow your business
				</h3>
				<p>
					You cannot scale your business after a certain point without automating your business
					processes. <strong
						>10x-ing your business is not possible by hiring 10x employees. But it is by getting 9x
						more efficient using automation and hiring 1x more employees.</strong
					>
				</p>
			</article>
		</section>
	</div>
</div>

<script>
	import { trackScroll } from '@/utils/umami'
	trackScroll('why')
</script>
