---
import "normalize.css";
import "../styles/reset.css";
import "../styles/index.css";
import Background from "@components/Background.svelte";
import Navbar from "@components/Navbar.svelte";
import Footer from "@sections/Footer.svelte";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
  title?: string;
}
const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="I help businesses get more customers by building quick to load, beautiful and easy to use websites"
    />
    <meta
      name="keywords"
      content="professional web developer, web developer, freelance web developer, svelte web developer, frontend web developer, fullstack web developer, fullstack, frontend, svelte, vue, tailwind, html, css, js, typescript"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://raqueebuddinaziz.com" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700"
    />
    <title>
      {
        title
          ? title + " - Raqueebuddin Aziz"
          : "Web Designer and Developer - Raqueebuddin Aziz"
      }
    </title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-197W0VNG3Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () {
        window.dataLayer.push(arguments);
      };
      gtag("js", new Date());

      gtag("config", "G-197W0VNG3Y", {
        cookie_domain: window.location.hostname,
        cookie_flags: "SameSite=None;Secure",
      });
    </script>
  </head>
  <body>
    <Background client:load />
    <Navbar route={Astro.url.pathname} />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>
