---
import { Background } from '@/components/Background'
import Nav from '@/components/Nav.astro'
import Footer from '@/sections/Footer.astro'
import '@unocss/reset/tailwind.css'

export interface Props {
	title?: string
}

const { title = 'Web Designer and Developer - Raqueebuddin Aziz' } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<slot name="head" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-197W0VNG3Y"></script>
		<script>
			window.dataLayer = window.dataLayer || []
			window.gtag = function () {
				window.dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', 'G-197W0VNG3Y', {
				cookie_domain: window.location.hostname,
				cookie_flags: 'SameSite=None;Secure'
			})
		</script>
	</head>
	<body>
		{
			/\/blog\/\w+/.test(canonicalURL.pathname) && (
				<a
					href="#content"
					class="pointer-events-none fixed top-0 z-30 rounded-br-lg border-b-2 border-r-2 border-orange-600 bg-neutral-100 px-5 py-2 text-orange-600 opacity-0 focus:opacity-100"
				>
					Skip to content
				</a>
			)
		}
		<Background client:idle />
		<Nav />
		<slot />
		<Footer />
		<style is:global>
			* {
				/* helps with preventing unintended font boosting */
				max-height: 99999999999999999px;
			}
			body,
			html {
				scroll-behavior: smooth;
				@apply max-h-full font-sans;
			}
			section {
				@apply scroll-m-60;
			}
		</style>
	</body>
</html>
